<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576825210642-vt9df7qas7jibid8b252n7j66kl1j6bu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576825210642-vt9df7qas7jibid8b252n7j66kl1j6bu</string>
	<key>API_KEY</key>
	<string>AIzaSyAZeAewVV9HS8IA1PFwqNCFNNjYocTcCoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>576825210642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.ac.jec.cm0136.SampleApp0001</string>
	<key>PROJECT_ID</key>
	<string>sampleapp0001</string>
	<key>STORAGE_BUCKET</key>
	<string>sampleapp0001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576825210642:ios:af562446834223cf7fe5cb</string>
</dict>
</plist>